<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.hsr.ifs.cdttesting.testingPlugin">
      <testResouresLocation
            activatorClass="ch.hsr.ifs.iltis.cpp.tests.Activator"
            sourceLocation="/resources">
      </testResouresLocation>
   </extension>


</plugin>
