<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="ILTIS Testing Tools for 2019-09" sequenceNumber="1570007046">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.launcher" version="1.5.500.v20190715-1310"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.18.100.v20190916-1045"/>
      <unit id="org.eclipse.ui.ide.application" version="1.3.400.v20190818-1234"/>
      <repository location="http://download.eclipse.org/releases/2019-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.sdk.feature.group" version="9.9.0.201909091956"/>
      <repository location="http://download.eclipse.org/tools/cdt/releases/9.9/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.hsr.ifs.iltis.core.core.feature.feature.group" version="2.4.0.201910010905"/>
      <repository location="https://www.cevelop.com/iltis"/>
    </location>
  </locations>
</target>
