<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="ILTIS-CORE Baseline Latest" sequenceNumber="9999999999">
  <locations>
	  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="http://www.cevelop.com/iltis/"/>
		  <unit id="ch.hsr.ifs.iltis.core.core.feature.feature.group" version="0.0.0"/>
		  <unit id="ch.hsr.ifs.iltis.core.core.feature.source.feature.group" version="0.0.0"/>
		  <unit id="ch.hsr.ifs.iltis.core.kotlin.feature.feature.group" version="0.0.0"/>
	  </location>
  </locations>
</target>