<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="ILTIS Testing Highlevel" sequenceNumber="1547123552">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.launcher" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/2018-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.hsr.ifs.iltis.cpp.core.feature.feature.group" version="2.0.0.201901101206"/>
      <unit id="ch.hsr.ifs.iltis.testing.cpp.feature.feature.group" version="2.0.0.201901101028"/>
      <repository location="https://www.cevelop.com/iltis"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mockito" version="0.0.0"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180606145124/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.testing.feature.group" version="0.0.0"/>
      <repository location="https://hudson.eclipse.org/cdt/job/cdt-9.6/lastSuccessfulBuild/artifact/releng/org.eclipse.cdt.testing.repo/target/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.collections.feature.feature.group" version="9.2.0.v20180518-1448"/>
      <repository location="http://download.eclipse.org/collections/9.2.0/repository/"/>
    </location>
  </locations>
</target>
