<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="ILTIS Development" sequenceNumber="1664923247">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.common.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.launcher" version="0.0.0"/>
      <unit id="org.eclipse.core.resources" version="0.0.0"/>
      <unit id="org.eclipse.core.runtime" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ui.ide.application" version="0.0.0"/>
      <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <unit id="org.eclipse.pde.api.tools.annotations" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.generator.feature.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2022-09"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mockito" version="0.0.0"/>
      <unit id="org.apache.log4j" version="0.0.0"/>
      <unit id="org.junit.jupiter.api" version="0.0.0"/>
      <unit id="org.junit.platform.suite.api" version="0.0.0"/>
      <unit id="org.junit.platform.runner" version="0.0.0"/>
      <unit id="org.junit.platform.launcher" version="0.0.0"/>
      <unit id="org.junit.platform.commons" version="0.0.0"/>
      <unit id="org.junit.jupiter.engine" version="0.0.0"/>
      <unit id="org.junit.platform.engine" version="0.0.0"/>
      <unit id="org.junit.vintage.engine" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220830213456/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.cdt.sdk.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/cdt/releases/10.7"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.testing.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.cdt.testing.source.feature.group" version="0.0.0"/>
      <repository location="https://ci.eclipse.org/cdt/job/cdt/job/cdt_10_7/lastStableBuild/artifact/releng/org.eclipse.cdt.testing.repo/target/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.collections.feature.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/collections/11.1.0/repository/"/>
    </location>
  </locations>
</target>
