<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="ILTIS-CORE Baseline 1.1.1" sequenceNumber="1531499243">
  <locations>
	  <location path="${project_loc}/api-baseline-1.1.1/plugins" type="Directory"/>
  </locations>
</target>